<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><a href="/"><%= Settings.product_name %></a></h1>
	<nav>
		<ul class="nav pull-right">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Shop", root_path %></li>
			<li><%= link_to "Join Us", root_path %></li>	
			<li><%= link_to "HI", root_path %></li>	
		</ul>
	</nav>
  </div>
</div>


