<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "基友团", root_path, id:"logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "主页", root_path %></li>
					<li><%= link_to "成员", member_path %></li>
					<li><%= link_to "注册", signup_path %></li>	
					<li><%= link_to "Shop", root_path %></li>	
				</ul>
			</nav>
		</div>
	</div>
</header>